*{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    border: 2px solid black;
    width:  500px;
    height: 500px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: cornflowerblue;
}


input{
    width: 300px;
    height: 20px;
    display: grid;
    gap: 50px;
    
}

label{
    
}
